<%- include("partials/header") %>

<div class="edit-container">

    <div class="edit-card text-center">

        <h1 class="edit-heading">
            About Us
        </h1>

        <div class="about-content">

            <pre>
                <h2>Assignment-10</h2>
Node & Express Assignment
(CRUD operations using ejs)
(includes routing, controllers,views,middlewares,templates,arrays,all crud operations)
 
DISPLAY LINKS ON HOME PAGE
 
Home Page | About Us | Contact Us |  Add Student | List of Students
            </pre>

        </div>

    </div>

</div>

<%- include("partials/footer") %>