<%- include("partials/header") %>

<div class="edit-container">

    <div class="edit-card text-center">

        <h1 class="edit-heading">
            Contact Us
        </h1>

        <div class="contact-info">

            <p>
                <strong>Email:</strong>
                abc@gmail.com
            </p>

            <p>
                <strong>Phone:</strong>
                1234567890
            </p>

            <p>
                <strong>Address:</strong>
                Delhi, India
            </p>

        </div>

    </div>

</div>

<%- include("partials/footer") %>