<%- include("partials/header") %>

<div class="home-container">

    <!-- SLIDER -->

   <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
    data-bs-interval="2000"
>

    <div class="carousel-inner rounded-4 shadow">

        <!-- IMAGE 1 -->

        <div class="carousel-item active">

            <img
                src="/image.webp"
                class="d-block w-100 slider-img"
                alt="Education"
            >

        </div>

        <!-- IMAGE 2 -->

        <div class="carousel-item">

            <img
                src="/image1.webp"
                class="d-block w-100 slider-img"
                alt="Students"
            >

        </div>

        <!-- IMAGE 3 -->

        <div class="carousel-item">

            <img
                src="/image2.webp"
                class="d-block w-100 slider-img"
                alt="College"
            >

        </div>

    </div>

</div>

    <!-- COURSES SECTION -->

    <div class="courses-section">

        <h2 class="course-heading">
            Our Courses
        </h2>

        <div class="row g-4">

            <div class="col-md-3">

                <div class="course-card">

                    <h3>B.Tech</h3>

                    <p>
                        Engineering and technology course
                        focused on software and development.
                    </p>

                </div>

            </div>

            <div class="col-md-3">

                <div class="course-card">

                    <h3>MCA</h3>

                    <p>
                        Master course for advanced computer
                        applications and programming.
                    </p>

                </div>

            </div>

            <div class="col-md-3">

                <div class="course-card">

                    <h3>BCA</h3>

                    <p>
                        Undergraduate course for computer
                        science and IT fundamentals.
                    </p>

                </div>

            </div>

            <div class="col-md-3">

                <div class="course-card">

                    <h3>M.Sc</h3>

                    <p>
                        Postgraduate science program with
                        specialization in technical subjects.
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

<%- include("partials/footer") %>